<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
</head>

<body>
    <section>
        <div class="container">
            <form class="text-center" action="/add-student" method="post">
                <h1 class="text-center my-5">Student Form</h1>
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="student name">
                </div>
                <br>
                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="student email">
                </div>
                <br>
                <div>
                    <label for="age">Age</label>
                    <input type="number" id="age" name="age" placeholder="student age">
                </div>
                <br>
                <div>
                    <label for="city">city</label>
                    <select name="city" id="city">
                        <option value="">please select city</option>
                        <option value="surat">surat</option>
                        <option value="rajkot">rajkot</option>
                        <option value="jamnagar">jamnagar</option>
                        <option value="ghandhinagar">ghandhinagar</option>
                    </select>
                </div>
                <br>
                <div>
                    <button>submit</button>
                </div>
            </form>
        </div>
    </section>

    <div>
        <div class="container">
            <h1 class="text-center my-5">Student Details</h1>
            <table class="table table-secondary table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>city</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% newStudent.map((std, idx)=>{ %>
                        <tr class="text-center">
                            <td>
                                <%= idx + 1 %>
                            </td>
                            <td>
                                <%= std.name %>
                            </td>
                            <td>
                                <%= std.email %>
                            </td>
                            <td>
                                <%= std.age %>
                            </td>
                            <td>
                                <%= std.city %>
                            </td>
                            <td>
                                <button onclick="deleteStudent('<%= std._id %>')" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function deleteStudent(id) {
            Swal.fire({
                title: "Do you want to Delete?",
                showCancelButton: true,
                confirmButtonText: "Yes",
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = `/delete-student?deleteId=${id}`
                }
            });
        }
    </script>
</body>

</html>